<<<<<<< HEAD

ul.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    float: right;
}
=======
ul li .kontaktdaten{
    font-size: 30em;
}
header {
    background-image: url(img/header.jpg);
}
>>>>>>> 82a4afef104dfaea863e1e23da77df9b98209eb1
