nav {
    display: flex;
    flex-direction: row;
}
div.kontakte {
    float: right;
}
ul.list {
    list-style-type: none;        
}
.iframe {
    margin-right: 1em; 
    margin-left: 2.4em;
    border: 1px solid black;
}
.standort{
    margin-left: 2.4em;
}
#BLT {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
address {
    line-height: 5px;
}
address p{
    padding: 0.5pt;
}
#links{
    float: right;
    align-items: flex-start;
}
footer {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 0px 0px;
}
footer address{
            display: flex;
}
footer address p{
    display: flex;
}
#links{

}
header {
    background-image: url("img/header.jpg");
}

#top {
    background-image: url("../img/header.jpg");
    background-attachment: fixed;
    background-size: cover;
  
    background-position: top;
}
@media{
    {
        
    }
}
