nav {
    display: flex;
    flex-direction: row;
}
div.kontakte {
    float: right;
    width: auto;
    margin: 10px;
}
ul.list {
    list-style-type: none;        
}
.iframe {
    margin-right: 1em; 
    margin-left: 2.4em;
    border: 1px solid;
}
h1{
    padding: 25px 0px 25px 0px;
}
h2 {
    padding: 0px 0px 10px 0px;
}
.standort{
    margin-left: 2.4em;
}
.tel{
    margin-left: 2.4em;
}
.oefnung{
    margin-left: 2.4em;
}
.email{
    margin-left: 2.4em;
}
.kont{
    margin-left: 1.8em;
}
#BLT {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
address {
    line-height: 5px;
}

address p{
    padding: 0.5pt;
}
#links{
    float: right;
    align-items: flex-start;
    margin-top: 15em;
}

#address{
    width: 400px;
}
a.inst {
    margin-left: 2.4em;
    padding-bottom: 2.4em;
}
header {
    background-image: url("img/header.jpg");
}
footer {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 0px 0px;
    align-content: space-between;
    align-items: flex-end;
    padding-top: 600px;
    background-size: cover;
    background-size: 720px, 200px;
}
#top {
    display: flex;
    background-image: url("../img/header.jpg");
    background-attachment: fixed;
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: top;

}
.titel {
    color: white;
}

.navbar-brand{
    background-color: rgb(180, 180, 180);
    border-radius: 10%;
    padding: 10px;
}
.insta{
    padding-top: 10px;
}
.agb{
    color: black;
}
.wibi{
    color: black;
}
.txt{
    padding-left: 20px;
}
main img {
    width: 25%;
}
.verzeichnis {
    width: 9.5%;
}
main {
    display: flex;
}
.footer101{
    padding-top: 0px;
}
<<<<<<< HEAD
.titela:link{
    font-size: 22px;
}
.titelb:link{
    font-size: 18px;

}
.titelc:link {
    font-size: 14px;
}

#inhalt{
display: flex;
justify-content: flex-end;
width: auto;
position: fixed;
margin-left: 70%;
background-color: gainsboro;
border-radius: 5%;
border: 3px inset black;
=======
#inhalt {
    padding: 0 35%;
>>>>>>> f322bdcdee07b6c522407d16fc16e05a0c2c6aa4
}

@media (max-width:991px) {
    #inhalt {
        padding: 0;
    }
    div.kontakte{
        display: none;
    }
    .iframe{
        width: 175px;
        height: 175px;
        border: 1px solid;
        margin-right: 1cm;

    }
    #top {
        width: 100%;
    }
    .logo {
        width: 100px;
        height: 100px;

    }
    .txt{
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
  
    .titel {
        font-size: 22px;
    }
    main img {
        width: 80%;
    }
    .verzeichnis {
        width: 60%;
    }
    .maine {
        display: flex;
        margin: 0 3 0 3;
        flex-direction: column-reverse;
    }
    #kontaktdaten{
        display: block;
    }
    footer {
padding: 0 0 0 0;
    }
}
@media(min-width: 991){
.maine{
    display: flex;
    justify-content: space-between;
}
}
.agbs {
    font-size: 34px;
    font-weight: bold;
    text-decoration: underline;
}